{% extends 'base.html.twig' %}

{% block title %}Me Connecter
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.
        messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes déjà connecté(e) en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Me déconnecter</a>
			</div>
		{% endif %}

		<div class="container">
			<form class="form-signin">
				<h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>

				<div class="form-group">
					<label for="inputUsername">Pseudo</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" style="max-width: 200px;" autocomplete="username" required autofocus>
				</div>

				<div class="form-group">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" style="max-width: 200px;" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Se souvenir de moi
					</label>
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">Me connecter</button>
				<p>
					<a href="#">Mot de passe oublié</a>
				</p>
				<p>Pas encore inscrit (e)?
					<a href="{{ path('app_register') }}">
						M'inscrire
					</a>
				</p>
			</form>
		</div>


	</form>
{% endblock %}
