{% extends 'base.html.twig' %}

{% block title %}detail{% endblock %}

{% block body %}
    
    <div>
        <h1>{{ thread.title }}</h1>
        <p>{{ thread.body }}</p>
        <form action="{{ path('app_thread_new') }}" method="post">

        {% if app.user %} 
    <a href="{{ path('app_thread_new') }}"></a><button type="submit" class="btn btn-primary">Créer un thread</button>
    <a href="{{ path('app_login') }}" class="btn btn-secondary">Retour</a>

{% else %}
    <button type="button" class="btn btn-warning">Vous n'etes pas connecter pour direger un thread</button>
{% endif %}
    
    </div>
   
{% endblock %}
